@font-face {
   font-family: Pretendard;
   src: url(../font/Pretendard-Light.subset.woff) format('truetype');
}

@font-face {
   font-family: dstitleoffice;
   src: url(../font/DSTitleOffice-Regular.woff) format('truetype');
}

*{font-family: Pretendard;}

.main_tit p{
   font-size:60px;
}

.tit_1{
   font-size:100px;
   font-family: dstitleoffice;
}

.tit_txt{
   font-size:28px;
}