*{
   margin:0; 
   padding:0; 
   border:0; 
   font-size:15px;
   list-style:none;
   border-collapse:collapse;
   border-spacing: 0;
   text-decoration: none;
   line-height: 1;
   transition: .3s;
   color:#fff;
}

html {
   scroll-behavior: smooth;
}

body{
   background:#000;
   -webkit-user-select:none;
   -moz-user-select:none;
   -ms-user-select:none;
   user-select:none
}

body::-webkit-scrollbar, .profile::-webkit-scrollbar{
   width:6px;
}

body::-webkit-scrollbar-thumb, .profile::-webkit-scrollbar-thumb{
   background: rgb(255, 255, 255);
   border-radius: 10px;
}

body::-webkit-scrollbar-track, .profile::-webkit-scrollbar-track{
   _background: transparent;
}

.fade-class {
   position: relative;
   left: 200px;
   opacity: 0;
   transition: left 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.5s linear;
}
.fade-in {
   transition: left 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.5s linear;
   left: 0px;
   opacity: 1;
}

/* header */
.header{
   position:fixed;
   width:100%;
   height:50px;
   display:flex;
   align-items:center;
   justify-content:center;
   z-index: 11;
}

.header:hover{
   background:#f5f5f7;
}

.logo_img{
   filter: invert(99%) sepia(0%) saturate(2323%) hue-rotate(37deg) brightness(108%) contrast(101%);
}

.header:hover .logo_img{
   filter: invert(8%) sepia(2%) saturate(9%) hue-rotate(351deg) brightness(89%) contrast(85%);
}

.header:hover .gnb a{
   color:#222;
}

.header:hover .gnb a:hover{
   color:#409efd;
}

.header:hover .header img{
   fill:#222;
}

.header p{
   position:absolute;
   left:1.5%;
}

.header img{
   width:44px;
}

.header ul{
   display:flex;
   align-items: center;
   justify-content: center;
   gap:25px;
}

.fixed_btn{
   position: fixed;
   right: 0;
   bottom: 0;
   z-index: 1;
}

/* header */

/* main */
.main{
   width:100%;
   height:100vh;
}

.section{
   position:relative;
   width: 100%;
   height: 100vh;
   font-size: 32px; 
   text-align: center;
   overflow: hidden;
}

.section_1{
   background-image: url(../img/2642.png);
   background-repeat: no-repeat;
   background-position:top;
   background-size:auto 100%;
}

.section_2{
   background-image: url(../img/main_bg_02.png);
}

.section_3{
   background-image: url(../img/main_bg_03.png);
   background-repeat: no-repeat;
   background-position:top;
   _background-size:auto 100%;
}

.section_4{
   background-image: url(../img/sub_02.png);
   background-repeat: no-repeat;
   background-position:top;
}

.tit_box{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   display:flex;
   flex-direction: column;
   gap:40px;
   border:0.5px solid white;
   padding:40px;
}

.tit_box2{
   padding:15vh 5vw 0;
   text-align: left;
}

.tit_2{
   font-size:40px;
}

.mySwiper{
   margin-top:10vh;
   height:500px;
   overflow: visible !important;
}

.swiper-wrapper{
   margin-left:-20%;
}

.swiper-slide{
   border-radius: 18px;
   background:white;
   width:400px!important;
   cursor: pointer;
   background-repeat: no-repeat!important;
   background-position:center!important;
   background-size:cover!important;
}

.swiper-slide:hover{
   transform: scale(.98);
}

.swiper-pagination{
   display:none;
}

.profile{
   width:100%;
   max-width:1280px;
   display:flex;
   flex-direction: column;
   gap:25px;
   margin:-35px auto 0;
   padding-left:140px;
}

.pro_titbox{
   display:flex;
   align-items: flex-start;
   justify-content: space-between;
   gap:70px;
   padding-bottom:20px;
   border-bottom:.5px solid #fafafa;
}

.pro_tit{
   font-size:25px;
   display: flex;
   align-items: center;
   gap: 10px;
   text-align: left;
}

.tit_bar{
   border-bottom:1px solid #fafafa;
   width:30px;
}

.pro_name{
   text-align: right;
}

.pro_name ul{
   display:flex;
   gap:8px;
   flex-direction: column;
}

.pro_name li, .pro_name span{
   font-size:13px;
}

.point_color{
   color:#409efd;
}

.thum_01{
   background:url(../img/thum/thum_10.png);
}

.thum_02{
   background:url(../img/thum/thum_03.png);
}

.thum_03{
   background:url(../img/thum/thum_04.png);
}

.thum_04{
   background:url(../img/thum/thum_05.png);
}

.thum_05{
   background:url(../img/thum/thum_06.png);
}

.thum_06{
   background:url(../img/Portfolio/jeep.png);
}

.thum_07{
   background:url(../img/thum/thum_01.png);
}

.thum_08{
   background:url(../img/thum/thum_07.png);
}

.thum_09{
   background:url(../img/thum/melon.png);
}

.thum_10{
   background:url(../img/thum/logo.png);
}

.thum_11{
   background:url(../img/thum/newspaper.png);
}

.thum_12{
   background:url(../img/thum/leaflet.png);
}

.thum_13{
   background:url(../img/thum/thum_02.png);
}

.thum_14{
   background:url(../img/thum/edm.png);
}

.thum_15{
   background:url(../img/Portfolio/jubang.png);
}

.thum_16{
   background:url(../img/Portfolio/sung.png);
}

.thum_17{
   background:url(../img/thum/thum_09.png);
}

.thum_18{
   background:url(../img/thum/thum_08.png);
}

.hover_box{
   position:absolute;
   width:100%;
   height:100%;
   display:none;
}

.swiper-slide:hover .hover_box{
   display: flex;
   justify-content: center;
   align-items: center;
   background-color:rgb(0, 0, 0, 0.7);
   border-radius: 18px;
}

.hover_tit{
   font-size:20px;
   margin-bottom:10px;
}

.hover_txt, .hover_txt2{
   font-size:14px;
   padding:2px 0;
}

.hover_padding{
   padding:20px;
   text-align: center;
}

.bar{
   margin:10px auto;
   width:100%;
   border-bottom:1.5px solid white;
}

.tab {text-align:left;margin-top:30px;padding:0 5vw;overflow:visible;}
.tab_head {margin-bottom:2rem;display:flex;flex-direction:row;}
.tab_head button {color:#fff;padding:10px 2rem;background-color:transparent;font-size:20px;border-bottom:3px solid transparent; cursor: pointer;}
.tab_head button.on {border-bottom:3px solid #fff;}
.tab_body .tab_item {display:none;}
.tab_body .tab_item.on {display:block;}

/* main */


/* ?꽌釉? */

.portfolio_imgbox{
   width:1280px;
   align-items: center;
}

.portfolio_imgbox img{
   width:100%
}

.portfolio_ul{
   display:flex;
   gap:10px;
}

.portfolio_ul li{
   height:730px;
   overflow-y: scroll;
}

.portfolio_ul li::-webkit-scrollbar, .profile::-webkit-scrollbar{
   width:6px;
}

.portfolio_ul li::-webkit-scrollbar-thumb, .profile::-webkit-scrollbar-thumb{
   background: rgb(255, 255, 255);
   border-radius: 10px;
}

.portfolio_ul li::-webkit-scrollbar-track, .profile::-webkit-scrollbar-track{
   _background: transparent;
}

.url_btn{
   display:block;
   background:white;
   width:100%;
   max-width:350px;
   border-radius: 4px;
   color:#222;
   padding:10px 8px;
}

.url_btn:hover{
   background:#409efd;
   color:white;
}

.sub_tit{
   display:flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 15px;
}

.sub_tit img{
   width:45px;
}

.section_4{
   display:flex;
   align-items: flex-start;
   justify-content: center;
}

.contact_box{
   display:flex;
   flex-direction: column;
   align-items: center;
   width:100%;
   gap:40px;
   padding-top:150px;
}

.contact_box .tit_2{
   padding:20px;
}

.info_box{
   width:100%;
   max-width:1280px;
   display:flex;
   justify-content: center;
   gap:55px;
}

.info_box ul{
   display:flex;
   gap:65px;
}

.info_box li{
   display:flex;
   align-items: flex-start;
   justify-content: center;
   gap:10px;
}

.info_box li:nth-child(1) img{
   margin-top:2px;
}

.info_box li img{
   width:20px;
}

.info_box li p{
   font-size:24px;
   display:flex;
   flex-direction: column;
   align-items: flex-start;
   gap:5px;
}

.info_box li img{
   filter: invert(60%) sepia(67%) saturate(3217%) hue-rotate(187deg) brightness(99%) contrast(100%);
}

.info_box ul:nth-last-child(1) li:nth-last-child(1) img{
   filter:inherit;
}

.gallery{
   padding-top:40px;
}

.gallery ul{
   display:flex;
   gap:20px;
}

.gallery li{
   width:100%;
   max-width:300px;
   height:400px;
}

.gallery img{
   width:100%;
   object-fit: cover;
   border-radius: 10px;
}

/* ?꽌釉? */


/* ?뀒釉붾┸ */

@media (max-width:1919px){
   .profile{
      margin-top:40px;
      height:515px;
      overflow-y: scroll;
      overflow-x:hidden;
      padding:10px;
   }
   .portfolio_imgbox{
      overflow-y: inherit;
      overflow-x:inherit;
   }
}

@media (max-width:1460px){
   .tit_box{
      gap:15px;
   }
   .tit_box .tit_1{
      font-size:65px;
   }
   .tit_box .tit_txt{
      font-size:20px;
   }
   .contact_box{
      padding-top:120px;
   }
}

@media (max-width:1280px){
   .section_1{
      background-image: url(../img/mb_main3.png);
      background-size:auto;
   }
   .section_2{
      background-image: url(../img/mb_sub.png);
   }
   .section_3{
      background-image: url(../img/mb_sub_02.png);
   }
   .section_4{
      background-image: url(../img/mb_sub_03.png);
   }
   .tit_box{
      top:47%;
      left:50%;
      transform: translate(-50%, -50%);
      padding: 40px;
      width:500px;
   }
   .tit_box .tit_1{
      font-size:55px;
   }
   .swiper .swiper-button-prev, .swiper .swiper-button-next{
      display:none!important;
   }
   .tit_box2{
      padding:12vh 5vw 0;
   }
   .mySwiper{
      height:400px;
   }
   .header{
      background:#f5f5f7;
   }
   .header a{
      color:#222;
   }
   .logo_img{
      filter: invert(8%) sepia(2%) saturate(9%) hue-rotate(351deg) brightness(89%) contrast(85%);
   }
   .profile{
      width: 90%;
   }
   .url_btn{
      max-width:inherit;
   }
   .sub_tit a{
      display:none;
   }
   .info_box ul{
      flex-wrap: wrap;
      justify-content: center;
      gap:40px;
   }
   .info_box li{
      flex-direction: column;
      align-items: center;
   }
   .info_box li p{
      align-items: center;
      font-size:18px;
   }
   .info_box li span{
      font-size:14px;
   }
   .gallery{
      padding-top:1%;
   }
   .gallery ul{
      justify-content: center;
   }
   .contact_box{
      padding-top:80px;
   }
   .tab_head{
      margin-bottom:-2rem;
   }
   .tab_head button{
      padding:10px 1rem;
   }
   .info_box{
      flex-direction: column;
   }
}

@media (max-width:800px){
   .tit_box{
      width:85%;
      padding:8% 2.5%;
   }
   .swiper-wrapper{
      margin-left:0%;
   }
   .pro_tit{
      font-size:22px;
      font-weight:600;
   }
   .pro_titbox{
      gap:inherit;
      flex-direction: column;
   }
   .pro_name{
      text-align: left;
   }
   .tit_bar{
      width:26px;
   }
   .portfolio_ul{
      flex-direction: column;
   }
   .portfolio_ul li{
      height:inherit;
      overflow-y: inherit;
   }
   .swiper-slide{
      width:100%!important;
   }
   .swiper{
      width:90%;
   }
   .mySwiper{
      margin-left:0!important;
   }
   .gallery li{
      width:45%;
      height:inherit;
   }
}

@media (max-width:400px){
   .tit_box .tit_1{
      font-size:40px;
   }
   .tit_box .tit_txt{
      font-size:16px;
   }
   .contact_box{
      padding-top:60px;
   }
   .gallery{
      display:none;
   }
   .info_box{
      align-items: flex-start;
   }
   .info_box ul{
      flex-direction: column;
   }
   .info_box{
      flex-direction: row;
   }
}

/* ?뀒釉붾┸ */
