<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="../css/style.css" rel="stylesheet" type="text/css"/>
   <link href="../css/font.css" rel="stylesheet" type="text/css"/>
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>
   <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
   <title>Youngjin Jeon Portfolio</title>
</head>
<style>
   .section{overflow: inherit;}
</style>
<body>
   <header>
      <div class="header">
         <p>
            <a href="../index.html"><img src="../img/logo.svg" alt="logo" class="logo_img"></a>
         </p>
         <!-- <ul class="gnb">
            <li>
               <a href="#section2">Portfolio</a>
            </li>
            <li>
               <a href="#section3">Profile</a>
            </li>
            <li>
               <a href="#section4">Contact</a>
            </li>
         </ul> -->
      </div>
      <div class="fixed_btn">
         <a href="#section1"></a>
      </div>
   </header>
   
   <div class="section section_2" id="section2">
      <div class="tit_box2 sub_tit">
         <p class="tit_2">이벤트페이지</p>
         <a href="../index.html#section2"><img src="../img/back.svg"></a>
      </div>

      <div class="profile portfolio_imgbox">
         <ul class="portfolio_ul">
            <li>
               <img src="../img/thum/edm.png" alt="EDM">
            </li>
            <li>
               <img src="../img/Portfolio/edm.png" alt="EDM">
            </li>
         </ul>
      </div>
   </div>

</body>
</html>



